<%= title "LendIt Job Page - Administrative Assistant for LendIt Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in the U.S., Europe and China. Join our rapidly growing team!" %>
<% meta_keywords "administrative, assistant, job, LendIt Conference" %>
<% body_class "pg-jobs pg-jobs-sub" %>
<div class="general-background">
  <div class="row">
    <div class="columns">
      <div class="job-nav">
        <a href="/jobs">Jobs</a>
      </div>

      <h1>Administrative Assistant</h1>

      <div class="job-section job-metadata">
        <div><b>Position Type:</b> Full-Time</div>
        <div><b>Level/Salary:</b> $45,000</div>
        <div><b>Start Date:</b> Immediate</div>
        <div><b>Travel Required:</b> Minimal</div>
        <div><b>Location: </b>NYC</div>
        <div><b>Date Posted:</b> Sept. 23, 2015</div>
      </div>

      <div class="job-section job-inquiries">

        <a href="https://docs.google.com/forms/d/1Z45GpYATU17aWNXkkv_SYEvV3Ecd7kk23PejxcVN2ho/viewform" target="_blank"><button>Apply Now</button></a>

      </div>

      <div class="job-section">
        <h2>
          Role
        </h2>
        <p>We are looking for someone friendly to join our team! This position provides administrative and secretarial support to the LendIt team. </p>

        <p>Assist the team with these essential functions:</p>

        <ul>

          <li>Schedule calls and meetings with clients</li>
          <li>Email management</li>
          <li>Calendar management</li>
          <li>Contact management (enter business cards and notes to CRM)</li>
          <li>Office management – keep the office clean and well stocked, order supplies for staff</li>
          <li>Set up meeting rooms including ensuring that the video conference technology operates</li>
          <li>Receptionist duties (answering calls, entering names into security, greeting guests)</li>
          <li>File management (organize files using Dropbox and Google Drive)</li>
          <li>Take minutes in meetings</li>
          <li>Data entry</li>
          <li>Physical mail management</li>
          <li>Create weekly reports and agendas</li>
          <li>Organize meetups, dinners, parties, corporate events, etc</li>
          <li>Purchase gifts for clients and for staff members for birthdays and special occasions</li>
          <li>Help setup new employees with supplies, technology, etc.</li>
          <li>Print reports</li>
          <li>Compose and deliver follow-up messages with clients (thank you letters)</li>
          <li>Travel management for LendIt staff</li>
          <li>Occasionally assist staff members when they need a project assistant</li>
          <li>Run personal errands when needed</li>
          <li>Set up customer support system</li>
          <li>Create and design general correspondences, memos, charts, tables, graphs, etc.</li>
          <li>Proofread website and brochures for spelling, grammar and layout, making appropriate changes.</li>


        </ul>

        <h2>Competencies</h2>
        <ul>
          <li>Technical Capacity. Must be proficient with Microsoft Office (word, excel, powerpoint), Google Hangouts, Google Drive, Google Docs, Gmail, and Google Calendar.</li>
          <li>Must have attention to detail.</li>
          <li>Must be a team player.</li>
          <li>Excellent Communication Skills.</li>

        </ul>


      </div>


      <a href="https://docs.google.com/forms/d/1Z45GpYATU17aWNXkkv_SYEvV3Ecd7kk23PejxcVN2ho/viewform" target="_blank"><button>Apply Now</button></a>

    </div>
  </div>
</div>
