<%= title "LendIt Job Page - Controller for LendIt Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates. Join our growing LendIt team in producing the largest online lending conference in the world." %>
<% meta_keywords "p2p, jobs, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<% body_class "pg-jobs pg-jobs-sub" %>
<div class="general-background">
  <div class="row">
    <div class="columns">
      <div class="job-nav">
        <a href="/jobs">Jobs</a>
      </div>

      <h1>Controller</h1>

      <div class="job-section job-metadata">
        <div><b>Position Type:</b>Full-Time</div>
        <div><b>Level/Salary:</b> Negotiable</div>
        <div><b>Start Date:</b> Immediate</div>
        <div><b>Travel Required:</b> Minimal</div>
        <div><b>Hours/Week:</b> 40</div>
        <div><b>Location: </b>NYC</div>
        <div><b>Date Posted:</b> September 4, 2015</div>
      </div>

      <div class="job-section job-inquiries">

        <a href="https://docs.google.com/forms/d/1aBHXiGKjSL2tatZ5xF1jRSwXLg238GKEf7iyX8s-kNA/viewform" target="_blank"><button>Apply Now</button></a>
<!--        <h2>
          Please Direct Inquiries To:
        </h2> -->

<!--        <div><b>Email:</b> <a href="mailto:jason@lendacademy.com"> jason@lendacademy.com </a></div>

        <div><b>Subject:</b> Part-Time VP of Finance</div>
        <div class="jobs-address-area">
          <div><b>Mail:</b> </div>
          <div class="jobs-address">
            <div>LendIt / Lend Academy</div>
            <div>Attn: Jason Jones</div>
            <div>335 Madison Ave., 16th Floor</div>
            <div>New York, NY 10017</div>
          </div>
        </div> -->

      </div>

      <div class="job-section">
        <h2>
          Role
        </h2>
        <p>This position will report to the three Cardinal Rose Group partners and will be responsible for performing all accounting functions and financial reporting activities including, but not limited to full cycle G/L, A/R, A/P, T&E, F/A, I/C, cash, the month-end close process and will be responsible for financial statement preparation, management reporting, budgeting and forecasting, treasury management, financial statement audits, income & VAT taxes, and general administration.  In addition, this person will be responsible for designing, developing, and maintaining policies and procedures that are GAAP compliant and supportive of the business. </p>
        <p>The ideal candidate will be a hands-on self-starter who thrives in a fast paced environment and possesses the initiative and desire to continuously improve processes and performance.  The candidate must have the ability to understand the details in a functional area as well as the ability to summarize and communicate those details to the senior management within the company. </p>
      </div>

      <div class="job-section">
        <h2>
          Responsibilities
        </h2>
        <ul>
          <li>Manage the company’s NetSuite, Bill.com and Expensify financial systems and accounting records</li>
          <li>Analyze balance sheet to ensure balances are accurate, reconciliations prepared and support maintained</li>
          <li>Draft general ledger journal entries to adjust asset, liability, revenue and expense accounts as necessary</li>
          <li>Create weekly and monthly financial statements for the Cardinal Rose Group partners</li>
          <li>Prepare financial budgets and forecasts for each operating entity</li>
          <li>Monitor and analyze monthly operating results against budgets and forecasts</li>
          <li>Assist with the identification and tracking of KPIs for each business</li>
          <li>Oversee treasury management and intercompany transactions</li>
          <li>Perform A/R collections for LendIt business with assistance from sales team</li>
          <li>Work with external audit firm to execute annual financial statement audit</li>
          <li>Provide information to external tax accountants to prepare income & VAT tax returns</li>
          <li>Manage and maximize value of TriNet professional employer organization relationship</li>
          <li>Engage actively in the areas of cost-saving efficiencies and process improvements</li>
          <li>Assist with the preparation and completion of company financings</li>
          <li>Prepare other company specific reports and analysis on an as needed basis</li>
          <li>Implement internal accounting controls, policies and procedures</li>
          <li>Manage all other financial management and administrative duties as they arise</li>
        </ul>
      </div>

      <div class="job-section">
        <h2>
          Qualifications and Education Requirements
        </h2>

        <ul>
          <li>A minimum of ten years financial accounting experience</li>
          <li>Strong operational accounting and financial reporting skills</li>
          <li>Ability to interface well with staff and senior management</li>
          <li>Excellent verbal and written communication and organizational skills</li>
          <li>Ability to multi-task and to handle multiple projects in a timely and efficient manner </li>
          <li>Excellent problem solving and analytical skills </li>
          <li>Ability to handle confidential and sensitive information with professional discretion</li>
          <li>BS/BA degree in Accounting or Finance</li>
          <li>CPA preferred but not required</li>
        </ul>
      </div>

      <div class="job-section">
        <h2>
          Employee Benefits Package
        </h2>
        <p>
          We offer a competitive compensation and benefits package.
        </p>
      </div>

      <div class="job-section">
        <h2>
          Company Background
        </h2>
        <p>
          Cardinal Rose Group, a holding company that is headquartered in New York City and that operates three growing early stage businesses in the peer-to-peer lending industry, has an immediate opening for a <strong>Controller</strong>.  This role will cover four operating entities: Cardinal Rose Group, LendIt Conference, NSR Invest and Lend Academy Media.
        </p>
      </div>


      <a href="https://docs.google.com/forms/d/1aBHXiGKjSL2tatZ5xF1jRSwXLg238GKEf7iyX8s-kNA/viewform" target="_blank"><button>Apply Now</button></a>

    </div>
  </div>
</div>
