<%= title "LendIt Job Page - Salesforce Developer for LendIt Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in the U.S., Europe and China. Join our rapidly growing team!" %>
<% meta_keywords "salesforce, developer, job, LendIt Conference" %>
<% body_class "pg-jobs pg-jobs-sub" %>
<div class="general-background">
  <div class="row">
    <div class="columns">
      <div class="job-nav">
        <a href="/jobs">Jobs</a>
      </div>

      <h1>Salesforce Developer</h1>

      <div class="job-section job-metadata">
        <div><b>Position Type:</b> Part-Time/Contractor</div>
        <div><b>Level/Salary:</b> $100,000 - $160,000</div>
        <div><b>Start Date:</b> Immediate</div>
        <div><b>Travel Required:</b> Minimal</div>
        <div><b>Location: </b>NYC</div>
        <div><b>Date Posted:</b> August 7, 2015</div>
      </div>

      <div class="job-section job-inquiries">

        <a href="https://docs.google.com/forms/d/1yhVkDwTW6fUijhj83MyjG75b5DV45PLDTspDjyiDqtE/viewform" target="_blank"><button>Apply Now</button></a>

      </div>

      <div class="job-section">
        <h2>
          Role
        </h2>
        <p>As a Salesforce CRM developer, you will be responsible for designing, creating, optimizing our Salesforce database functionality. You will be working closely with a web developer to create integrations between our website’s CMS and Salesforce. You will also be working autonomously on projects. The ideal candidate will provide insight, have a strong vision and architectural approach and be a pro-active problem solver. Strong organizational, prioritization and documentation skills. </p>

        <h2>Requirements</h2>
        <ul>
          <li>3+ years Salesforce.com API experience</li>
          <li>Extensive Visualforce, Apex, Salesforce APIs and SQL development knowledge</li>
          <li>Ability to build automated system for content management between the web app and Salesforce</li>
          <li>Customization (Apex triggers, classes and Visualforce pages)</li>
          <li>Configuration to include formulas, workflows, approval processes, custom objects and fields, sharing rules, page layouts, record types, permission sets, reports and dashboards</li>
          <li>Knowledge of relational databases and integrations</li>
          <li>Previous experience working with Salesforce.com partners</li>
          <li>Apply knowledge of all phases of the software development lifecycle – analysis, design, development, testing and production support</li>
          <li>Design and develop integrations between web application and Salesforce</li>
          <li>Deliver business requirements on time and within budget</li>
          <li>Deliver hands-on code and unit testing</li>
          <li>Analyze and resolve production issues</li>
          <li>Strong written and verbal communications are essential (including the ability to communicate clearly to non-technical team members)</li>
          <li>Continuous improvement attitude and ability to work with a team a must.</li>

        </ul>

        <strong>Candidates who are contacted will need to provide a resume and work samples.</a></strong>

      </div>


      <a href="https://docs.google.com/forms/d/1Dam6oWD1bzwh5f4haRKBs0mkBgr49jYXr0CCzRVOQ5w/viewform" target="_blank"><button>Apply Now</button></a>

    </div>
  </div>
</div>
