<%= title "LendIt Job Page - Sr. Events Operations Manager for LendIt Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in the U.S., Europe and China. Join our rapidly growing team!" %>
<% meta_keywords "events, operations, job, LendIt Conference" %>
<% body_class "pg-jobs pg-jobs-sub" %>
<div class="general-background">
  <div class="row">
    <div class="columns">
      <div class="job-nav">
        <a href="/jobs">Jobs</a>
      </div>

      <h1>Sr. Events Operations Manager</h1>

      <div class="job-section job-metadata">
        <div><b>Position Type:</b> Full-Time</div>
        <div><b>Level/Salary:</b> $65,000</div>
        <div><b>Start Date:</b> Immediate</div>
        <div><b>Travel Required:</b> Moderate</div>
        <div><b>Location: </b>NYC</div>
        <div><b>Date Posted:</b> Sept. 23, 2015</div>
      </div>

      <div class="job-section job-inquiries">

        <a href="https://docs.google.com/forms/d/1gVwMQl1jkmP7efR9ZbiAZNIgq_hjMl_LKcu6sGKL_o8/viewform" target="_blank"><button>Apply Now</button></a>

      </div>

      <div class="job-section">
        <h2>
          Role
        </h2>
        <p>LendIt is hiring a full-time event operations manager to support the conceptualization, planning and execution of its global conferences, expos and networking events.</p>
        <p>The ideal candidate has at least 5 years’ experience executing large-scale commercial events with thousands of participants, and is extremely organized, detailed oriented and accustomed to working in a fast-paced environment.</p>
        <p>Candidates fluent in spoken and written Mandarin as well as English are strongly preferred.  The candidate must be comfortable frequently taking late night and early morning calls to coordinate with our Chinese team.</p>

        <h2>Responsibilities:</h2>

        <ul>

          <li>Report directly to the Managing Directors or LendIt USA, Europe, and China</li>
          <li>Plan, design, produce and deliver major events within time limits</li>
          <li>Liaise with the production, sales, customer service and marketing teams to ensure that their needs are met during the event</li>
          <li>Organize facilities and manage all event details such as floor plan, AV, decor, catering, entertainment, transportation, etc</li>
          <li>Conduct market research, gather information and negotiate contracts with key suppliers</li>
          <li>Manage key supplier relations and ensure delivery of contracted services</li>
          <li>Update the event budgets</li>
          <li>Liaise with clients to identify their needs and to ensure customer satisfaction</li>
          <li>Propose ideas to improve provided services and event quality</li>
          <li>Ensure compliance with insurance, legal, health and safety obligations</li>
          <li>Specify staff requirements and coordinate their activities</li>
          <li>Proactively handle any arising issues and troubleshoot any emerging problems on the event day</li>
          <li>Conduct pre- and post – event evaluations and report on outcomes</li>


        </ul>

        <h2>Qualifications</h2>
        <ul>
          <li>At least 5 years event planning and operations experience working on large-scale event</li>
          <li>Fluent in spoken and written Mandarin as well as Englis</li>
          <li>Strong written and verbal communications skill</li>
          <li>Attention to detai</li>
          <li>Extremely organize</li>
          <li>Creative problem solve</li>
          <li>Excellent time management skill</li>
          <li>Ability to multitas</li>
          <li>Proficient in Microsoft Word, Powerpoint & Exce</li>
          <li>
        </ul>

        <h2>Company Background</h2>

        <p>LendIt is the definitive annual event for the rapidly growing online lending industry. LendIt hosts three events a year in the USA, UK, and China. Our flagship event, LendIt USA attracts thousands of attendees, hundreds sponsors & exhibitors, and hundreds speakers.</p>

        <p>LendIt employees have an incredible work-life balance with flexible scheduling and the ability to frequently work from home. </p>


      </div>


      <a href="https://docs.google.com/forms/d/1gVwMQl1jkmP7efR9ZbiAZNIgq_hjMl_LKcu6sGKL_o8/viewform" target="_blank"><button>Apply Now</button></a>

    </div>
  </div>
</div>
