<div class="important-callout">

  <div class="important-callout-inner">
    <div class="important-callout-container">
      <div>
        <a href="/europe/2015/agenda"><i class="fa fa-arrow-circle-right"></i> View Preliminary Agenda</a>

      </div>
      <div>
        <a href="https://s3-us-west-2.amazonaws.com/lendit/europe-2015/conference-brochure.pdf" class="orange" target="_blank"><i class="fa fa-download"></i> Download Conference Brochure </a>
      </div>
    </div>

  </div>

</div>