<%= title "LendIt Europe 2015 Sponsors Guide Page" %>
<% meta_description "LendIt Europe 2015 Conference sponsors guide. This is a general guide for our sponsors." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, sponsors, Europe" %>
<% body_class "eu15-speakers-info" %>

<div class="general-background" >

  <div class="row">
    <div class="columns">
      <section class="speakers-intro">
        <div class="speakers-intro-left">
          <h1>LendIt Europe 2015 Sponsors Guide</h1>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <div class="section">
        <p>
          Thank you for sponsoring <a href="/europe/2015" target="_blank">LendIt Europe 2015</a>. We have created this Sponsor Information page to provide you with details and instructions to help you prepare for the conference. We will be updating this page with additional information as we get closer to the event; you will be notified by email when we make any changes.
        </p>
        <p>
          Please bookmark this page for quick reference and feel free to contact any of the LendIt team members listed below if you have any questions or need assistance. We look forward to seeing you in October!
        </p>
      </div>

      <div class="section">
        <h2>Company Logo and Description</h2>
        <ul>
          <li>Your company description: 150 words or less, please confirm exact spelling and capitalization of your company name in the description.</li>
          <li>Your company logo: .AI or .eps vector file format preferred, high-resolution, print-quality JPEG or PDF - 4”x6” or larger at 300 dpi also acceptable</li>
          <li>Your website</li>
        </ul>
        <p>
          Please submit the requested information to <a href="mailto:aaron@lendit.co">Aaron Lua</a> as soon as possible.
        </p>
        <p>
          All company logos and descriptions must be received by 18th September to guarantee inclusion in print materials and on conference signage.
        </p>
      </div>

      <div class="section">
        <h2>Registration Information</h2>
        <p>
          The primary sponsor contact will register all company sponsor passes using the unique discount code and instructions provided in the Welcome Email from LendIt’s Delegate Affairs Team – this includes registration for both the conference itself (20-21 October) and the Welcome Party (19 October). After each member of your team has been registered, they will receive an email confirmation of this transaction.
        </p>
        <p>
          We advise registering your team members as soon as possible so they will begin receiving all event-related communications from LendIt including agenda updates and networking information. Registration substitutions can be made if necessary by contacting <a href="mailto:lisa@lendit.co">Lisa Jones (lisa@lendit.co)</a> or <a href="mailto:aaron@lendit.co">Aaron Lua (aaron@lendit.co)</a>.
        </p>
      </div>


      <div class="section">
        <h2>Other Sponsor Inventory Information</h2>
        <p>
          Depending on your sponsorship level and the terms of your agreement, your sponsorship package may include the following inventory:
        </p>

        <h5>On-site Branding, Exhibition Booths, Content & Show Guide Ads</h5>
        <ul>
          <li><strong>Exhibition: </strong>All arrangements for your booth including shipping, design, installation, and AV should be coordinated directly with Experience. Please review the exhibitor manual here [link to Experience Exhibitor Manual] for more detailed information including set up and break down times as well as key deadlines.  </li>
          <li><strong>On-site branding: </strong>All sponsors with special on-site branding elements included in their sponsorship packages are required to must submit artwork to Experience no later October 7th. Experience will be contacting you directly to clarify the specs for your artwork.</li>
          <li><strong>Guest Blog or White Paper Posting: </strong>If your sponsorship package includes a guest blog post or white paper a member of the LendIt team will contact you to confirm the topic and due date for your content. Content will be shared in the weeks leading up to the conference through LendIt's blogs, newsletters and social media channels. Topics require pre-approval by LendIt. All questions about content should be directed to <a href="mailto:nora@lendit.co">Nora Steinman, nora@lendit.co.</a></li>
          <li><strong>Company Adverts for Show Guide: </strong>Title, Platinum and Gold sponsorship packages only include company adverts. Please check your sponsorship agreement for more details. Please review the <a href="https://s3-us-west-2.amazonaws.com/lendit/europe-2015/showguide-ad-specs.pdf" target="_blank">show guide advert spec sheet here</a> for detailed instructions. All ads must be sent to <a href="mailto:nora@lendit.co">Nora Steinman, nora@lendit.co</a> before 18th September.
          </li>
        </ul>

        <div class="columns small-24 medium-8 large-8" style="margin: 1.5em 0;">
          <img src="https://s3-us-west-2.amazonaws.com/lendit/europe-2015/a4.jpg">
          <div align="center">
            <span style="color: #89be2e; font-size: 1.5em;">FULL PAGE</span><br />
            TRIM SIZE: 8.27" (210mm) width x 11.69" (297mm) height
          </div>
        </div>

        <div class="columns small-24 medium-8 large-8" style="margin-top: 1.5em; margin-bottom: 15px;">
          <img src="https://s3-us-west-2.amazonaws.com/lendit/europe-2015/half-page.jpg">
          <div align="center">
            <span style="color: #89be2e; font-size: 1.5em;">HALF PAGE</span><br />
            TRIM SIZE: 8.27" (210mm) width x 11.69" (297mm) height
          </div>
        </div>

        <div class="columns small-24 medium-8 large-8" style="margin-top: 1.5em; margin-bottom: 15px;">
          <img src="https://s3-us-west-2.amazonaws.com/lendit/europe-2015/quarter-page.jpg">
          <div align="center">
            <span style="color: #89be2e; font-size: 1.5em;">QUARTER PAGE</span><br />
            TRIM SIZE: 8.27" (210mm) width x 11.69" (297mm) height
          </div>
        </div>
      </div>

      </div>

      <div class="section" style="margin-top: 20px;">
        <h2>General Conference Details</h2>
        <h5>Conference Dates and Location</h5>
        <div>
          20-21 October, 2015<br />
          Hilton London Metropole<br />
          225 Edgware Road, London, W2 1JU, United Kingdom<br />
          <a href="tel:44-207-402-4141">+44-207-402-4141</a>
        </div>
        <h5>Welcome Party Date and Location</h5>
        <div>
          19 October, Time TBD<br />
          The Landmark London Hotel<br />
          222 Marlyebone Road, London, NW1 6JQ, United Kingdom
        </div>
      </div>




    <div class="section">
      <h2>Travel and Hotel Accommodations</h2>
      <p>
        Sponsors are responsible for booking their own travel and accommodations. LendIt has a hotel block reserved at the Hilton London Metropole from 18 October-22 October. <a href="http://www.hilton.com/en/hi/groups/personalized/L/LONMETW-GLEND-20151018/index.jhtml?WT.mc_id=POG" target="_blank">Book your hotel</a> before 18th September to receive our special rate.
      </p>
    </div>


    <div class="section">
      <h2>Contact Us!</h2>
      <ul>
        <li>
          <a href="mailto:lisa@lendit.co">Lisa Jones, Director of Delegate Affairs - lisa@lendit.co</a>
        </li>
        <li>
          <a href="mailto:aaron@lendit.co">Aaron Lua, Delegate Affairs Associate - aaron@lendit.co</a>
        </li>
        <li>
          <a href="mailto:nora@lendit.co">Nora Steinman, Operations and Communications Manager - nora@lendit.co</a>
        </li>
        <li>
          <a href="mailto:joy@lendit.co">Joy Schwartz, Vice President of Events - joy@lendit.co</a>
        </li>
        <li>
          <a href="mailto:bladimir@lendit.co">Bladimir Estevez, Sponsorship and Group Sales Manager - bladimir@lendit.co</a>
        </li>
      </ul>
    </div>


  </div>
</div>

</div>
