<% body_class "agenda-europe2015" %>
<div class="general-background">  
	<div class="row">
		<h1>LendIt Europe 2015 Agenda</h1>
	</div>
	<div class="row special-agenda-row">
		<div class="columns">
			<a id="sched-embed" href="http://lenditeurope2015.sched.org/">View the LendIt Europe 2015 schedule & directory.</a><script type="text/javascript" src="http://lenditeurope2015.sched.org/js/embed.js"></script>
		</div>
	</div>
</div>
