
@import url(http://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic);

.agenda-europe2015 {




body {
	background:#c00;
	border:3px solid red;
}

h1 {
	line-height:1.1em;
	margin-bottom:.5em;
	margin-top:1em;
	font-family: 'Lato', sans-serif;
	margin-left:20px;
	margin-right:20px;
}







}
