<%= title "LendIt Europe 2015 Speakers Page" %>
<% meta_description "LendIt Europe 2015 Conference speakers are esteemed European leaders in the peer-to-peer industry. This is a general guide for our speakers." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, presenters, Europe" %>
<% body_class "eu15-speakers-info" %>

<div class="general-background" >

	<div class="row">
		<div class="columns">
			<section class="speakers-intro">
				<div class="speakers-intro-left">
					<h1>LendIt Europe 2015 Speakers Guide</h1>
				</div>
			</section>
		</div>
	</div>

	<div class="row">
		<div class="columns">
			<div class="section">
				<p>
					Thank you for agreeing to participate as a speaker at <a href="/europe/2015">LendIt Europe 2015</a>. We have created this Speaker Information page to provide you with details and instructions to help you prepare for the conference. We will be updating this page with additional information as we get closer to the event; you will be notified by email when we make any changes.
				</p>
				<p>
					Please bookmark this page for quick reference and feel free to contact any of the LendIt team members listed below if you have any questions or need assistance. We look forward to seeing you in October!
				</p>
			</div>

			<div class="section">
				<h2>Bio and Headshot</h2>
				<ul>
					<li>Your bio: 100 words or less, please include your full name, company, and title</li>
					<li>Your headshot: high-resolution, print-quality JPEG - 4”x6” or larger at 300 dpi</li>
					<li>Your mobile number</li>
					<li>Your company's Twitter handle</li>
					<li>Your personal Twitter handle</li>
				</ul>
				<p>
					Please submit the requested information to <a href="mailto:todd@lendit.co">Todd Anderson</a> as soon as possible.
				</p>
			</div>

			<div class="section">
				<h2>Registration Information</h2>
				<p>
					Confirmed Speakers will be registered for all conference activities by a member of the Delegate Affairs Team &mdash; this includes a Speaker Pass to LendIt Europe 2015 and a ticket to the Welcome Party. You will receive an email confirmation of this transaction. If you had already registered for the conference, your registration fee will be refunded.
				</p>
			</div>


			<div class="section">
				<h2>Discount Codes</h2>
				<p>
					If you would like to bring additional members of your team, please have them use the unique discount code provided to you in the Welcome Email. If your team members have already registered, please let us know and we will apply the discount and issue a refund.
				</p>
			</div>


			<div class="section">
				<h2>Other Information</h2>
				<p>As we get closer to LendIt Europe 2015, a member of the LendIt team will schedule a Panel Planning Call for each of the conference’s panel discussions.</p>

			</div>

			<div class="section">
				<h2>Presentations</h2>
				<p><strong>Format:</strong> PowerPoint 16 x 9<br></p>
				<p><strong>Deadline:</strong> Final presentations to be sent to <a href="mailto:todd@lendit.co">todd@lendit.co</a> by 5PM EST on October 15th. In the event last minute changes have been made to your presentation, bring your presentation to the event on a thumb drive and hand the drive to Aaron or Lisa during check-in.</p>
				<p><strong>Time allotment:</strong> Stick to the allotted time assigned to you (or the chairman will have no choice but to politely cut you off). Leave time for Q&A (often it is the best part!). If your presentation allotment is 30 min, we suggest you leave 10 minutes for Q&A.</p>
				<p><strong>Taking the stage:</strong> Please approach the AV desk in the back of your presentation room at least 30 minutes prior to your presentation start time so your mic can be placed and tested. Once your mic has been placed, stay in the conference room and sit in one of the front rows close to the stage to ensure a smooth transition between presentations. (No one likes to make a mad dash to the stage). If you wish to perform a test run of your presentation on stage please notify Aaron by October 12th.</p>
				<p><strong>Other:</strong> Do not jam too many data points or text per a slide as they are often hard to see from the back of the ballroom.</p>
			</div>

			<div class="section">
				<h2>General Conference Details</h2>
				<h5>Conference Dates and Location: </h5>
				<div>
					20-21 October, 2015<br />
					Hilton London Metropole<br>
					225 Edgware Road, London, W21Ju, United Kingdom<br>+44-207-402-4141
				</div>
			</div>

			<div class="section">
				<h5> Welcome Party Date and Location: </h5>
				<div>
					19 October, Time TBD<br />
					The Landmark London Hotel<br />
					222 Marlyebone Road, London, NW1 6JQ, United Kingdom<br />
				</div>
			</div>


			<div class="section">
				<h2>Travel and Hotel Accommodations</h2>
				<p>
					Speakers are responsible for booking their own travel and accommodations. LendIt has a hotel block reserved at the Hilton London Metropole from 18 October-22 October. <a href="http://www.hilton.com/en/hi/groups/personalized/L/LONMETW-GLEND-20151018/index.jhtml?WT.mc_id=POG" target="_blank">Book your hotel</a> before 18th September to receive our special rate.
				</p>
			</div>


			<div class="section">
				<h2>Contact Us!</h2>
				<ul>
					<li>
						<a href="mailto:lisa@lendit.co">Lisa Jones, Director of Delegate Affairs - lisa@lendit.co</a>
					</li>
					<li>
						<a href="mailto:aaron@lendit.co">Aaron Lua, Delegate Affairs Associate - aaron@lendit.co</a>
					</li>
					<li>
						<a href="mailto:nora@lendit.co">Nora Steinman, Operations and Communications Manager - nora@lendit.co</a>
					</li>
					<li>
						<a href="mailto:bladimir@lendit.co">Bladimir Estevez, Sponsorship and Group Sales Manager - bladimir@lendit.co</a>
					</li>
					<li>
						<a href="mailto:todd@lendit.co">Todd Anderson, Speaker Manager</a>
					</li>
				</ul>
			</div>


		</div>
	</div>

</div>
