<%= title "LendIt Europe 2015 Speakers Page" %>
<% meta_description "LendIt Europe 2015 Conference speakers are esteemed European leaders in the peer-to-peer industry." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, presenters, Europe" %>
<% body_class "eu15-speakers-info" %>

<div class="general-background" >

  <div class="row">
    <div class="columns">
      <section class="speakers-intro">
        <div class="speakers-intro-left">
          <h1>LendIt Europe 2015 Speakers Guide</h1>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="columns">
			<div class="section">
				<p>
					Thank you for agreeing to participate as a speaker at <a href="/europe/2015">LendIt Europe 2015</a>. We have created this Speaker Information page to provide you with details and instructions to help you prepare for the conference. We will be updating this page with additional information as we get closer to the event; you will be notified by email when we make any changes.
				</p>
				<p>
					Please bookmark this page for quick reference and feel free to contact any of the LendIt team members listed below if you have any questions or need assistance. We look forward to seeing you in October!
				</p>
			</div>

			<div class="section">
				<h2>Bio and Headshot</h2>
				<ul>
					<li>Your bio: 100 words or less, please include your full name, company, and title</li>
					<li>Your headshot: high-resolution, print-quality JPEG - 4”x6” or larger at 300 dpi</li>
					<li>Your mobile number</li>
					<li>Your company's Twitter handle</li>
					<li>Your personal Twitter handle</li>
				</ul>
				<p>
				Please submit the requested information to <a href="mailto:aaron@lendit.co">Aaron Lua</a> as soon as possible.
				</p>
			</div>

			<div class="section">
				<h2>Registration Information</h2>
				<p>
					Confirmed Speakers will be registered for all conference activities by a member of the Delegate Affairs Team &mdash; this includes a Speaker Pass to LendIt Europe 2015 and a ticket to the Welcome Party. You will receive an email confirmation of this transaction. If you had already registered for the conference, your registration fee will be refunded.
				</p>
			</div>


			<div class="section">
				<h2>Discount Codes</h2>
				<p>
					If you would like to bring additional members of your team, please have them use the unique discount code provided to you in the Welcome Email. If your team members have already registered, please let us know and we will apply the discount and issue a refund.
				</p>
			</div>


			<div class="section">
				<h2>Other Information</h2>
				<p>As we get closer to LendIt Europe 2015, a member of the LendIt team will schedule a Panel Planning Call for each of the conference’s panel discussions.</p>

				<p>We will also notify you by email and post here the suggested specs for keynotes, company demos and special presentations.</p>
			</div>

			<div class="section">
				<h2>General Conference Details</h2>
				<h5>Conference Dates and Location: </h5>
				<div>
					20-21 October, 2015<br />
					Hilton London Metropole<br>
					225 Edgware Road, London, W21Ju, United Kingdom<br>+44-207-402-4141
				</div>
			</div>

			<div class="section">
				<h5> Welcome Party Date and Location: </h5>
				<div>
					19 October, Time TBD<br />
					The Landmark London Hotel<br />
					222 Marlyebone Road, London, NW1 6JQ, United Kingdom<br />
				</div>
			</div>


			<div class="section">
				<h2>Travel and Hotel Accommodations</h2>
				<p>
					Speakers are responsible for booking their own travel and accommodations. LendIt has a hotel block reserved at the Hilton London Metropole from 18 October-22 October. <a href="http://www.hilton.com/en/hi/groups/personalized/L/LONMETW-GLEND-20151018/index.jhtml?WT.mc_id=POG" target="_blank">Book your hotel</a> before 18th September to receive our special rate.
				</p>
			</div>


			<div class="section">
				<h2>Contact Us!</h2>
				<ul>
					<li>
						<a href="mailto:lisa@lendit.co">Lisa Jones, Director of Delegate Affairs - lisa@lendit.co</a>
					</li>
					<li>
						<a href="mailto:aaron@lendit.co">Aaron Lua, Delegate Affairs Team - aaron@lendit.co</a>
					</li>
					<li>
						<a href="mailto:nora@lendit.co">Nora Steinman, Operations and Communications Manager - nora@lendit.co</a>
					</li>
					<li>
						<a href="mailto:bladimir@lendit.co">Bladimir Estevez, Sponsorship and Group Sales Manager - bladimir@lendit.co</a>
					</li>
				</ul>
			</div>


    </div>
  </div>

</div>
