<div class="landing-nav mobile-menu-is-hidden">
	<div class="anav">
		<div>
			<div class="metanav">
				<ul>
					<li class="is-active"><a href="#">Home</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</div>
			<div class="top-logo">
				<a href="">
					<img src="https://s3-us-west-2.amazonaws.com/lendit/temporary-for-redesign/redesign-lendit-logo.png" />
				</a>
			</div>
		</div>
	</div>
	<div class="bnav">
		<div>
			<ul class="bnav1 logo-is-hidden">
				<li class="bnav-logo"><a href=""> <img src="https://s3-us-west-2.amazonaws.com/lendit/temporary-for-redesign/redesign-lendit-logo.png" class="logo" /> </a></li>
				<li  class="is-active"><a href="">Europe </a><span class="nav-usa">Europe</span></li>
				<li   ><a href="">USA </a><span class="nav-europe">USA</span></li>
				<li ><a href="">China </a><span class="nav-china">China</span></li>
			</ul>
			<div class="bnav2 years-are-hidden">
				<ul class="bnav-years ">
					<ul class="active-year not-current">
						<li>
												<span class="opens-mobile-menu">2015 </span> 
							<span class="toggles-year-menu-on">2015 </span>
						</li>
					</ul>
					<ul class="year-menu">
						<li><span class="toggles-year-menu-off">Select Year </span></li>
						<!--					<li class="is-active"><a href="">2016 </a></li> -->
						<li class="current-year is-active"><a href="">2015 </a></li>
						<li class="past-year"><a href="">2014 </a></li>
						<li class="past-year"><a href="">2013 </a></li>
						<li class="past-year"><a href="">2012 </a></li>
					</ul>
				</ul>
				<ul class="bnav-sub">
					<li class="is-active"><a href="">Highlights</a></li>
					<li><a href="">Agenda</a></li>
					<li><a href="">Speakers</a></li>
					<li><a href="">Sponsors</a></li>
					<li><a href="">Register</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu">
		<li class="mobile-menu-logo"><a href=""> <img src="https://s3-us-west-2.amazonaws.com/lendit/temporary-for-redesign/redesign-lendit-logo.png" class="logo" /> </a></li>
		<div class="exit-mobile-menu">
			<span class="closes-mobile-menu"></span>
		</div>
	</div>
</div>
<div class="section-indicator"></div>
